li{
    list-style: none;
}
a{
    text-decoration: none;
}

.mainContact{
    background-color: rgb(9,93,119);
}

.contactCenter{
    padding: 20px 0;
}

.contactCenterMedia h3{
    text-align: center;
    color: white;
}

.contactLinks{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.contactLinks li{
    margin-bottom: 0.5rem;
}
.contactLinks li a{
   color: rgb(192,190,190);
   font-size: 1.2rem;
}
.contactLinks li a:hover{
    color: white;
}
.contactMedia{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.contactMedia li a i{
    color: rgb(192,190,190);
}
.instagramIcon:hover i{
    color: rgb(215, 86, 39);
}
.linkedInIcon{
    margin-left: 1rem;
}
.linkedInIcon:hover i{
    color: rgb(59, 129, 195);
    background-color: white;
}

.footer{
    border-top: 1px solid lightgray;
}

.footer p{
    text-align: center;
    color: lightgray;
    font-style: italic;
    padding: 10px 0;
    font-size: 1.2rem;
}

@media screen and (min-width:800px) {
    .contactLinks{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contactLinks li{
        margin: 1rem;
    }
}